html { 
    overflow-y: scroll; 
    min-height: 100%;
}

body {
    background-color: lavender;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family: "Brush Script MT", cursive;
    font-style: oblique;
    font-size: 70px;
    text-align: center;
    color: white;
    text-shadow:  1px 2px rgb(100, 50, 112), 0 0 25px plum, 0 0 5px mediumpurple;
    padding-top: 60px;
}

div {
    display: block;
    max-width: 90%;
    overflow-wrap: break-word;
}

h1 {
    text-align: center;
    font-family: "Brush Script MT", cursive;
}

h3 {
    border: 2px solid rgb(143, 120, 190);
    border-radius: 5px;
    background-color: rgb(232, 220, 255);
    padding: 10px;
    text-align: center;
}

h4 {
    text-align: center;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.divcenter {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

a {
    border: 1px solid rgb(143, 120, 190);
    border-radius: 5px;
    background-color: rgb(143, 120, 190);
    color: white;
    padding: 8px;
    margin: 2px 2px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

label {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    white-space: pre;
}

input:read-only {
    background-color: rgb(218, 218, 218);
  }
  
input[type=text] {
    border: 1px solid;
    border-radius: 10px;
    padding: 2px;
    margin: auto;
    box-sizing: border-box;
    text-decoration: none;
    resize: none;
}

textarea {
    width: 70%;
    height: 50px;
    font-size: 12px;
    border: 1px solid;
    border-radius: 10px;
    padding: 2px;
}

input[type="checkbox"] {
    display: inline-block;
    text-align: left;
}

input[type=button], input[type=submit] {
    background-color: rgb(143, 120, 190);
    border: 1px solid;
    border-radius: 5px;
    color: white;
    padding: 8px;
    margin: 2px 2px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
}

select {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
}

table {
    max-width: 100%;
}

thead {
    font-weight: bold;
    white-space: nowrap;
}

tr {
    border-bottom: 2px solid;
    padding: 5px;
    font-size: 14px;
    text-align: left;
    height: 0;
}

th, td {
    border-bottom: 2px solid;
    border-left: 1px solid;
    padding: 5px;
}