html {
    overflow-y: scroll;
    min-height: 100%;
}

body {
    background-color: lavender;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h3 {
    border: 2px solid rgb(143, 120, 190);
    border-radius: 5px;
    background-color: rgb(232, 220, 255);
    padding: 10px;
    text-align: center;
}

h4 {
    text-align: center;
}

a {
    border: 1px solid rgb(143, 120, 190);
    border-radius: 5px;
    background-color: rgb(143, 120, 190);
    color: white;
    padding: 8px;
    margin: 2px 2px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 14px;
}