<!DOCTYPE HTML>
<html>
<head>
    <title>Authentication</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/authentication.css"/>
</head>

<body>
<div>
    <form action="authentication-process" method="post" class="centered">
        ID: <input type="text" name="id"><br/><br/>
        <input value="Submit" type="submit"/>
    </form>
</div>

</body>
</html>