<!DOCTYPE HTML>
<html>
<head>
    <title>Welcome to Mentcare</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/home.css"/>
</head>

<body>
    <header>Welcome to Mentcare</header>
    <div class="centered">
        <a style="width: 140px; font-size: 16px;" href="authentication">Authenticate</a> <br/><br/>
        <a style="width: 140px; font-size: 16px; background-color: rgb(99, 83, 133);" href="try-doctor">Try as Doctor</a>
        <a style="width: 140px; font-size: 16px; background-color: rgb(99, 83, 133);" href="try-nurse">Try as Nurse</a>
        <a style="width: 140px; font-size: 16px; background-color: rgb(99, 83, 133);" href="try-receptionist">Try as Receptionist</a>
    </div>

</body>
</html>