<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prescribe treatment</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/edit.css"/>
</head>

<body>
<div class="centered">
    <h2>Prescribe treatment for <em th:text="${patient.id}"></em>:</h2>
    <script th:if="${error}">
        alert("Check the description: this treatment is already prescribed or is empty!");
    </script>
    <form th:action="@{/updated-treatment(type='new', patient=${patient.id}, staff=${staff.id})}" method="post">
        <div class="container">
            <table >
                <tr>
                    <td class="label">Description: </td>
                    <td>
                        <textarea name="description"
                                  th:text="${treatment?.description}"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="label">Frequency: </td>
                    <td>
                        <select name="frequency">
                            <option th:selected="${treatment?.frequency?.equals('Daily')}">
                                Daily
                            </option>
                            <option th:selected="${treatment?.frequency?.equals('Weekly')}">
                                Weekly
                            </option>
                            <option th:selected="${treatment?.frequency?.equals('Monthly')}">
                                Monthly
                            </option>
                            <option th:selected="${treatment?.frequency?.equals('Annually')}">
                                Annually
                            </option>
                        </select>
                    </td>
                </tr>
            </table>
        </div> <br/>

        <input type="button" value="Back" onclick="history.back()">
        <input type="submit" value="Save" name="save"> <br/>
        <a id="home" th:href="@{'/doctor-home'(staff=${staff.id})}">
            Home
        </a>
    </form>
</div>
</body>
</html>